---
layout: page
title: About 
title2: About me
---

<section class="about-intro">
    <div class="about-text">
        <h2>Hi! My name is Inês Esteves! I am a junior product designer based in Lisbon. My main goal is to create the best experiences and solutions through creative problem solving. </h2>
        <a href="#ed-skills" address="true">Know more about me</a>
    </div>
</section>

<section id="ed-skills">
    <h2 class="about-title">Education</h2>
    {% include about/timeline.html %}
    <ul>
        {% for item in site.data.nav %}
        <li>{{ item.title }}
            <ul>
                <li><a>{{ item.name }}</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    <h2 class="about-title">Skills</h2>
    {% include about/skill-bar.html %}
</section>