<div class="skills">
    <div class="skill-col">
      <h4>Front-End</h4>
      <ul>
        <li><span class="html5"></span><h6>HTML</h6></li>
        <li><span class="css3"></span><h6>CSS</h6></li>
      </ul>
    </div>
    <div class="skill-col">
      <h4>Design</h4>
      <ul>
        <li><span class="figma"></span><h6>Figma</h6></li>
        <li><span class="photoshop"></span><h6>Adobe Photoshop</h6></li>
        <li><span class="illustrator"></span><h6>Adobe Illustrator</h6></li>
      </ul>
    </div>
    
  </div>