.about-intro{
  height: 100vh;

  a{
    text-decoration: underline;
    color: $second-color;

    &:hover{
      color: $brand-color;
    }
  }
}

.about-title{
  margin-top: $spacing-unit ;
}

.about-text{
  width: 80vw;
}

//Timeline 

.timeline-body {
  position: relative;
  border-radius: 0 ;
  padding: 5px 0;

.timeline-item{
  h3{
    color: $second-color;
  }
  h6{
    padding-top: $spacing-unit/2;
  }
}

  &:after {
    // Left Border
    content: "";
    width: 0.25rem;
    height: 100%;
    background-color: $grey-color-light;
    position: absolute;
    left: -0.25;
    top: 0;
  }

  .timeline-item {
    position: relative;

    :after {
      // Circle
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: $second-color;
      position: absolute;
      left: -0.75rem;
      top: 0.5rem;
      z-index: 10;
    }

    .content {
      margin: 40px;
      padding-bottom: 20px;
      border-bottom: 1px dashed $second-color;

      .date {
        margin-top: -5px;
        margin-bottom: 15px;
        color: $second-color;
      }
    }
  }
}

.about-title{
  padding-top: $spacing-unit;
}


//Skills

.skills{
  position:relative;
  float:left;
    
  ul { 
    padding-top: $spacing-unit;
     > li { 
      margin-bottom: $spacing-unit *1.5; 
      background: $grey-color-light; 
      height: 0.5rem;
      width: 14rem;
      list-style: none;

        h4{
          margin-bottom: $spacing-unit/2;
        }
        h6 {
        font-size: $small-font-size;
        position:relative; 
        top:-$spacing-unit;
        text-transform: none;
        }
        span { 
        height: inherit;
        background-color: $grey-color;
        background: $second-color;
        position:absolute;
      }
    }
  }

  .html5 { 
    width:80%;  
    animation:html5 2s ease-out;
  }
  .css3 { 
    width:85%;
    animation:css3 2s ease-out; 
  }
  .figma { 
    width:85%;  
    animation:magento 2s ease-out;
  }
  .photoshop { 
    width:80%;  
    animation:photoshop 2s ease-out;
  }
  .illustrator { 
    width:90%;  
    animation:illustrator 2s ease-out;
  }

  @keyframes html5 { 
    0%  { width:0px;} 
    100%{ width:90%;}  
  }
  @keyframes css3 {
    0%  { width:0px;} 
    100%{ width:80%;}  
  }
  @keyframes js {
    0%  { width:0px;}
    100%{ width:50%;}
  }
  @keyframes jquery {
    0%  { width:0px;}
    100%{ width:60%;}
  }
  @keyframes wordpress {
    0%  { width:0px;}
    100%{ width:50%;}
  }
  @keyframes magento {
    0%  { width:0px;}
    100%{ width:60%;}
  }
  @keyframes photoshop {
    0%  { width:0px;} 
    100%{ width:90%;}  
  }
  @keyframes illustrator {
    0%  { width:0px;} 
    100%{ width:80%;}  
  }
}



@media only screen and (min-width:640px) {

  .timeline-container{
    width: 60vw;
      
    } 

}