
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: $spacing-unit *0.70;
  border: 0.063rem solid #ccc;
  border-radius: 0.125rem;
  box-sizing: border-box;
  margin-top: $spacing-unit/4;
  margin-bottom: $spacing-unit/2;
}

.contact-form{
  margin-top: $spacing-unit;
}

.button{
  background-color: $second-color;
  height: 3rem;
  width: 100%;
  color:white;
  border:none;
}


@media only screen and (min-width:640px) {
  .contact-form{
    width: 40%;
  } 

  .button{
    width: 12rem;
    &:hover{
      background-color: $brand-color;
    }
  }
}

