.work-container {
    display: grid;
    gap: $spacing-unit;
    grid-template-columns: 1fr;

    img{
        width: 100%;
    }
}

.back-button{
    input{
        border: none;
        padding: 0;
        width: $spacing-unit *2;
        height: $spacing-unit *2;
        text-decoration: underline;

        &:hover{
        color: $second-color;
        }
    }
    
}


.project-header{
    margin-top: $spacing-unit;
}

//PROJETOS
@media only screen and (min-width:640px) {

.project-content{
    display: flex;
}
.project-text{
    margin-right: $spacing-unit;
}

}

.work-container{
    h3{
        margin-top: $spacing-unit;
    }
}

.project-header{
    h1{
        font-size: 3rem;
    }
}


@media only screen and (min-width:640px) {
    .work-container {
        display: grid;
        gap: $spacing-unit;
        grid-template-columns: 1fr 1fr;

    }
}
